<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting"> <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <style>
        body {
            margin: 0;
            background-color: #cccccc;
        }

        table {
            border-spacing: 0;
        }

        td {
            padding: 0;
        }

        img {
            border: 0;
        }

        tbody {
            width: 100%;
            display: table;
        }

        .main {
            background-color: #fff;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-spacing: 0;
            font-family: sans-serif;
            color: #171a1b;
        }

        .two-columns {
            text-align: center;
            font-size: 0;
        }

        .two-columns .column {
            width: 100%;
            max-width: 200px;
            display: inline-block;
            vertical-align: middle;
        }

        .two-columns .column-small {
            width: 100%;
            max-width: 142px;
            display: inline-block;
            vertical-align: middle;
        }

        .column-half {
            width: 100%;
            max-width: 280px;
            display: inline-block;
            vertical-align: middle;
        }

        .two-columns .column-one {
            width: 100%;
            max-width: 400px;
            display: inline-block;
            vertical-align: middle;
        }

        .two-columns .column p {
            font-size: 13px;
            color: #CED6E5;
            text-align: left;
            line-height: 20px;
        }

        .button {
            font-size: 12px;
            color: #fff !important;
            background: #000000;
            padding: 8px 20px;
            border-radius: 50px;
            text-decoration: none;
        }

        td.two-columns {
            counter-reset: product-item;
            /* Reset counter for each .two-columns element */
        }

        .product_item {
            counter-increment: product-item;
            /* Increment counter for each .product_item element */
        }

        .product_item:nth-child(1) {
            background-color: #AA674F;
        }

        .product_item:nth-child(2) {
            background-color: #E8AE9A;
        }

        .product_item:nth-child(3) {
            background-color: #CFAFA4;
        }

        .product_item:nth-child(4) {
            background-color: #C4946B;
        }
    </style>

</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #F2F2F2;">
    <center class="wrapper">
        <table class="main" width="100%">
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td class="two-columns"
                                style="background-color: #27CFAF;  text-align: center;vertical-align: top;">
                                <table width="100%" class="column" align="top">
                                    <tr>
                                        <td style="vertical-align: top;">
                                        <td style="text-align: center;"><a href="#"><img
                                                    style="max-width: 130px;padding: 40px 0px;" src={{logo}} alt=""></a>
                                        </td>
                            </td>
                        </tr>
                    </table>
                    <table class="column-one" width="100%">
                        <tr>
                            <td style=""><img style="width: 100%;height: 300px;object-fit: cover;" src={{banner}}
                                    alt=""></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        <!-- section end-->
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td class="two-columns"
                            style="background-color: #DCFFF8;  text-align: center;vertical-align: top;padding: 10px 0px;">
                            <table width="100%" class="column" align="top">
                                <tr>
                                    <td style="vertical-align: top;">
                                    <td style="text-align: center;"><a href="#"><img
                                                style="max-width: 160px;padding: 20px 0px;" src={{qr_link}} alt=""></a>
                                    </td>
                        </td>
                    </tr>
                </table>
                <table class="column-one" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p style="color: #231F20;font-size: 14px;margin-top: 0px;margin-bottom: 4px;">
                                <b>{{dispenser_name}}</b> {{{business_name}}}
                                has referred you
                            </p>
                            <h1 style="color: #231F20;font-size: 22px;margin-top: 0px;">How to use Your Referral
                                Benefits?</h1>
                            <h2 style="color: #231F20;font-size: 16px;font-weight: 600;margin: 2px;">Scan QR Code</h2>
                            <p style="color: #231F20;font-size: 12px;margin: 2px;">Use the QR code to shop our products
                                instantly.</p>
                            <span style="color: #231F20;font-size: 12px;margin: 2px;">Or</span>
                            <h2 style="color: #231F20;font-size: 16px;font-weight: 600;margin: 2px;">Click the
                                Link Below</h2>
                            <p style="color: #231F20;font-size: 12px;margin: 2px;">Click the unique referral link to
                                explore and share it with friends</p>
                            <a href={{referral_link}}
                                style="color: #239983;font-size: 14px;text-decoration: none;background: #fff;border: 2px solid #E2F2ED;padding: 4px 20px;line-height: 32px;">Click
                                here to explore</a>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
        </td>
        </tr>
        <!-- section end-->

        {{#if products}}
        <tr>
            <td style="background: #fff;padding: 10px 0px 10px 0px;">
                <div class="heading-section" style="text-align: center; padding: 0 30px;">
                    <h2 style="font-size: 26px;color: #252525;margin-bottom: 0px;line-height: 10px;">
                        <b>Recommended Exclusively for You!</b>
                    </h2>
                    <p style="color: #231F20;font-size: 14px;">{{checkLength products}}</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td class="two-columns" style=" text-align: center;vertical-align: top;">
                            {{#each products}}
                            <table class="column-small product_item" style="background-color:{{productbgcolor}}" width="
                                100%;">
                                <tr>
                                    <td style="text-align: center;">
                                        <p style="color: #fff;font-size: 14px;min-height: 32px; padding: 0px 5px;">
                                            {{name}}</p>
                                        <img style="max-width: 100px; max-height: 100px; min-height:100px;"
                                            src={{product_image}} alt="">
                                        <div style="padding: 10px 0px;margin-bottom: 10px;">
                                            <a href={{url}} class="button">Shop Now</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            {{/each}}
                        </td>



                    </tr>
                </table>
            </td>
        </tr>
        {{/if}}

        {{#if coupons}}
        <tr>
            <td style="background: #fff;padding: 10px 0px 10px 0px;">
                <div class="heading-section" style="text-align: center; padding: 0 30px;">
                    <h2 style="font-size: 26px;color: #252525;margin-bottom: 0px;line-height: 10px;">
                        <b>Exclusive Coupon Code</b>
                    </h2>
                    <p style="color: #231F20;font-size: 14px;">Use this code to get a discount on
                        your next purchase. Share them with your friends</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td class="two-columns"
                            style="background-color: #27ceae;  text-align: center;vertical-align: top;padding: 20px;">

                            {{#each coupons}}
                            <table width="100%" class="column-half" align="top">
                                <tr>
                                    <td
                                        style="background: #000000;text-align: center;padding: 15px;cursor: pointer;border: 4px solid #27ceae;">
                                        <h6 style="font-size: 25px;color: #fff; margin: 0px;line-height: 24px;">
                                            {{code}}</h6>
                                        <span style="font-size: 12px;color: #fff;line-height: 20px;">USE THIS
                                            COUPON TO AVAIL THIS OFFER</span>
                                    </td>
                                </tr>
                            </table>
                            {{/each}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {{/if}}



        <tr>
            <td>
                <table width="100%">
                    <img width="100%" src={{footer}} />
                </table>
            </td>
        </tr>

        </table>
    </center>

</body>

</html>